# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for data science
- Understand how to perform arithmetic by addition
- Understand how to perform arithmetic by division

Some of the popular languages that Data Scientists use are:
1. Python
2. C#
3. Java

| Data science tools |
|--------------------|
|   Java             |
|   C#               |
|   Python           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

This will convert 200 minutes to hours by diving by 60

In [ ]:
200 / 60

## Author
Dan Scott